/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.form-container{
  max-width: 600px;
  border: 2px solid black;
  margin: 20px auto;
  padding: 10px;
  background-color: #fbf860;
}

.postList{
  max-width: 600px;
  margin: 20px auto;
}
.card{
  max-width: 300px;
  align-items: center;
  }
.Card-list{
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.btn:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgb(57, 126, 191);

}
.buttons{
  justify-content: space-between;

}